body {
    background-color: #dbe1e7a5;
    font-family: Arial, sans-serif;
}

#Title {
    color: rgb(0, 89, 255);
    position: absolute;
    top: 220px;
    left: 400px;
    font-size: 60px;
}

#Lefttext {
    color: rgb(25, 29, 36);
    position: absolute;
    top: 320px;
    left: 400px;
    font-size: larger;
    font-weight: 500;
}

.first-block {
    background-color: rgb(255, 255, 255);
    width: 25%;
    margin: 200px auto;
    padding: 20px;
    height: 35vh;
    margin-left: auto;
    margin-right: 300;
    border-radius: 5px;
}

#BottomRightText {
    color: black;
    position: absolute;
    bottom: 200px;
    left: 67%;
    transform: translateX(-50%);
    font-size: smaller;
    font-weight: 500;
    text-align: center;
}

.second-block {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin: 20px auto;
    border-radius: 5px;
    margin: 20px auto;
}

.vvod {
    background-color: rgb(255, 255, 255);
    color: rgb(28, 27, 27);
    width: 95%;
    margin: 5px auto;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid rgb(149, 156, 156);
    border-radius: 5px;
    font-size: 15px;
}

.Vhod {
    background-color: rgb(8, 94, 215);
    color: white;
    width: 95%;
    margin: 0px auto;
    margin-left: 10px;
    margin-right: 20px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
}

.Password {
    background-color: white;
    color: rgb(8, 94, 215);
    width: 95%;
    margin: 0px auto;
    margin-left: 10px;
    padding: 10px;
    border: 0px solid rgb(149, 156, 156);
    border-bottom: 1px solid rgb(149, 156, 156);
    border-radius: 5px;
    font-size: 11px;
    text-align: center;
    cursor: pointer;
}

.Password:hover {
    color: #65bef9;
}

.CreateAcc {
    background-color: rgb(48, 152, 24);
    color: white;
    width: 45%;
    height: 17%;
    margin: 30px auto;
    margin-left: 100px;
    margin-right: 0px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
}

.footer {
    background-color: white; 
    color: gray;
    font-size: 12px;
    padding: 15px 0; 
    position: absolute;
    bottom: 0; 
    width: 100%; 
    border-top: 1px solid #ddd;
}

.footer-contains {
    width: 80%; 
    margin: 0 auto; 
    text-align: left; 
}
