.album-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  
  .album-card {
    background: rgba(255, 253, 253, 0.8);
    padding: 15px;
    border-radius: 12px;
    border: 2px solid #c9a36d;
    transition: transform 0.3s ease-in-out;
    text-align: center;
    text-decoration: none;
  }
  
  .album-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffcc00;
    text-decoration: none;
  }
  